*{
    box-sizing: border-box;
}
.header{
    text-align: center;
}
.topnav a{
    float: left;
    display:block;
    color: black;
    text-align: center;    
    padding-left: 4px;
    text-decoration: none;
    font-size: 24px;
    padding: 12px;
}
p{
    font-size: 20px;
}

.topnav a:hover{
    background-color: #454545;
    color: blueviolet;
}
.topnav{
    overflow: hidden;
    background-color: burlywood;
}

.column{
    float: left;
    padding: 10px;
}
.column.side{
    width: 25%;

}
.column.middle{
    width: 50%;
    /* text-align: center; */
    /* justify-content: space-evenly; */
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
@media screen and(max-width:600px) {
    .column.side,.column.middle{
        width: 100%;
    }
    
}
.footer{
  background-color: cornsilk;
   padding: 10px;
   text-align: center;
}
